.ti-sidebar {
  padding: var(--ti-s-0);
  border: solid 1px var(--ti-c-border-light);
  background-color: var(--ti-c-bg);
}

.ti-sidebar__list {
  margin: 0;
  padding-left: var(--ti-s-p2);
  list-style-position: outside;
}

.ti-sidebar__list a.js-ti-active {
  color: black;
}

.ti-sidebar__h2 {
  text-transform: uppercase;
  font-size: var(--ti-s-p1);
  font-weight: normal;
}

.ti-sidebar__h3 {
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-size: var(--ti-s-0);
  font-weight: normal;
  line-height: 1;
}

.ti-sidebar__search {
  margin-bottom: var(--ti-s-p2);
}

.ti-sidebar__search-input {
  display: block;
  width: 100%;
  padding: 0.5em 0.75em;
}
