.ti-sidebar {
  display: flex;
  gap: var(--ti-s-0);
  flex-direction: column;
  padding: var(--ti-s-0);
  border: solid 1px var(--ti-c-border-light);
  background-color: var(--ti-c-bg);
}

.ti-sidebar__header {
  margin: 0;
  text-transform: uppercase;
  font-size: var(--ti-s-p1);
  font-weight: normal;
  line-height: 1;
}

.ti-sidebar__search-input {
  display: block;
  width: 100%;
  padding: 0.5em 0.75em;
}

.ti-sidebar__search-input::-webkit-search-cancel-button {
  /* stylelint-disable property-no-vendor-prefix */
  /* noinspection CssInvalidPropertyValue */
  -webkit-appearance: auto !important; /* Override Normalize's style. */
  cursor: pointer;
}

.ti-sidebar__group-label {
  padding: 0.25em 0;
  cursor: pointer;
  text-transform: capitalize; /* Override Seven's style. */
  font-size: var(--ti-s-0);
  font-weight: normal;
  line-height: 1;
}

.ti-sidebar__group-label:focus {
  text-decoration: none !important; /* Override Seven's style. */
}
.ti-sidebar__group-label:focus span {
  text-decoration: none !important; /* Override Seven's style. */
}

.ti-sidebar__group-list {
  margin: 0;
  padding: 0.25em 0;
  padding-left: var(--ti-s-p2);
  list-style-position: outside;
}

.ti-sidebar__group-item {
  padding: 0.1em 0;
}

.ti-sidebar__group-list-link {
  display: inline-block;
  padding: 0.1em;
}

.ti-sidebar__group-list-link[data-ti-active] {
  color: black;
}

.ti-sidebar__footer {
  margin-top: auto;
  padding-top: var(--ti-s-0);
  border-top: solid 1px var(--ti-c-border-light);
}

.ti-sidebar__footer a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--ti-c-text);
  gap: 0.5em;
  font-size: 0.85em !important;
}

.ti-sidebar__footer a:hover {
  transition: color 0.25s;
  color: var(--ti-c-text-dark);
}
